.wrapper {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  user-select: none;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 550px;
    border-radius: 15px;
    background-color: #ffffff;
    font-family: 'Inter';
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .hide {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 7px;
      top: 7px;
      cursor: pointer;
    }

    h1 {
      margin-bottom: 15px;
      padding-top: 15px;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #f0a319;
    }

    label {
      margin-bottom: 6px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
      }
      input {
        display: none;
      }
    }

    input {
      padding: 6px;
      font-size: 16px;
      margin-bottom: 2px;
      background: #c6e0db;
      border-radius: 5px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.01em;
      border: 0px;
    }

    .errorMessage {
      align-self: flex-start;
      padding-left: 45px;
      font-size: 10px;
      color: red;
      margin-bottom: 5px;
    }

    button {
      background: #f0a319;
      border: 0px;
      border-radius: 25px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #ffffff;
      width: 216px;
      height: 58px;
      margin-top: 5px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
